<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="[ '/dashboard']">DevCase-VSM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pontuacoes']">Pontuações</a>
      </li>
    </ul>

    <span class="navbar-text mr-1">
      <a href="javascript:void(0)" (click)="logout()">Logout</a>
    </span>

  </div>
</nav>
